@import './styles/color';
@import './styles/box-sizing';
@import './styles/shadow';

body {
  --primary: #7D1D1D;
  --primary-light: #A23D3D;
  --primary-dark: #340000;
  --accent: #641743;
  --accent-light: #82315F;
  --accent-dark: #2A0018;
  --warn: #A26B3D;

  --on-primary: rgba(255, 255, 255, .87);
  --on-primary-medium: rgba(255, 255, 255, .6);
  --on-primary-disabled: rgba(255, 255, 255, .38);
  --on-accent: rgba(255, 255, 255, .87);
  --on-accent-medium: rgba(255, 255, 255, .6);
  --on-accent-disabled: rgba(255, 255, 255, .38);
  --on-warn: rgba(255, 255, 255, .87);

  @include border-box();

  background-color: $background;
  font: {
    family: Raleway, sans-serif;
    size: 14px;
  }
  margin: 0;

  @media screen {
    background-image: linear-gradient(180deg, var(--primary) 0%, var(--primary-light) 30%, $background 30%);
  }
}
